<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách Người Dùng</title>

</head>
<body>
<h1>Danh sách Người Dùng</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Avatar</th>
        <th>Address</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userPage.content}">
        <td th:text="${user.id}">ID</td>
        <td th:text="${user.code}">Code</td>
        <td th:text="${user.name}">Name</td>
        <td th:text="${user.email}">Email</td>
        <td th:text="${user.phoneNumber}">Phone Number</td>
        <td>
            <img th:src="${user.avatar}" alt="Avatar" width="100">
        </td>
        <td th:text="${user.address}">Address</td>
        <td th:text="${user.role.name}">Role</td>
    </tr>
    </tbody>
</table>

<div>
    <span>Page:</span>
    <span th:text="${userPage.number + 1}">1</span>
    <span>of</span>
    <span th:text="${userPage.totalPages}">1</span>
</div>

<div>
    <a th:href="@{/api/user/list?page=${userPage.number - 1}}">Previous</a>
    <a th:href="@{/api/user/list?page=${userPage.number + 1}}">Next</a>
</div>
</body>
</html>
